/**{

margin: 0;
padding: 0;

}
*/

h1{
background-color: green;
color: blue;
}


h2	{

	background-color: yellow;
	color: black;
}

h3	{

background-color: black;
color: blue;

}

h4	{

background-color: green;
color: red;
}